<div *ngIf="userRole">
  <div [ngSwitch]="userRole">
    <div *ngSwitchCase="'INQUILINO'">
      <mat-card>
        <mat-card-content>
          <h3>Contenido para inquilinos</h3>
          <ul>
            <li><a routerLink="/inquilino/gestion-agenda">Gestión de Agenda</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngSwitchCase="'ANFITRION'">
      <mat-card>
        <mat-card-content>
          <h3>Contenido para anfitriones</h3>
          <ul>
            <li><a routerLink="/anfitrion/gestion-agenda">Gestión de Agenda</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngSwitchCase="'ADMIN'">
      <mat-card>
        <mat-card-content>
          <h3>Contenido para administradores</h3>
          <ul>
            <li><a routerLink="/admin/gestion-agenda">Gestión de Agenda</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngSwitchDefault>
      <mat-card>
        <mat-card-content>
          <h3>Rol no reconocido</h3>
          <p>No se han encontrado opciones para tu rol de usuario.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>