<div class="contenido-dashboard">
  <div class="main-content">
    <h2>Seleccione una opcion</h2>
  </div>

  <div [ngSwitch]="userRole">
    <div *ngSwitchCase="'inquilino'">
      <mat-card>
        <mat-card-content>
          <h3>Opciones para Inquilinos</h3>
          <ul>
            <li>
              <a routerLink="/inquilino/reservar-hospedaje">Nueva Reserva</a>
            </li>
            <li><a routerLink="/inquilino/modificar-reserva">Modificar una Reserva</a></li>
            <li>
              <a routerLink="/inquilino/cancelar-reserva">Cancelar Reserva</a>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="'anfitrion'">
      <mat-card>
        <mat-card-content>
          <h3>Opciones para Operador</h3>
          <ul>
            <!--          falta implementar sus funciones-->
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchCase="'admin'">
      <mat-card>
        <mat-card-content>
          <h3>Opciones para Médico</h3>
          <ul>
            <li>
              <a routerLink="/medico/turnos-programados">Turnos Programados</a>
            </li>
            <li>
              <a routerLink="/medico/gestion-agenda">Gestión de Agenda</a>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngSwitchDefault>
      <mat-card>
        <mat-card-content>
          <h3>Rol no reconocido</h3>
          <p>No se han encontrado opciones para tu rol de usuario.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
