:host {
    display: block;
    background: white;
    border-radius: 8px;
    padding: 20px;
    min-width: 400px;
    max-width: 800px;
    width: 90%;
}

#titulo-dialogo {
    margin-bottom: 20px;
    color: #333;
    font-size: 32px;
}

#texto-dialogo {
    margin-bottom: 15px;
}

button {
    margin-top: 15px;
}

::ng-deep .mat-dialog-container {
    padding: 0;
    overflow: hidden;
}
